.manage-schedule-system {
    h2{
        text-transform: uppercase;
        font-weight: 700;
    }
    .input {

        height: 50px;

    }

    label {
        font-weight: bold;
    }

    .main-schedule {
        margin: 20px auto 5px;
        min-height: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .btn-schedule {
            background-color: #EEEEEE;
            width: 140px;
            height: 40px;
            border: none;
            font-weight: 690;
            margin: 2px 6px;

            &:hover {
                border: 3px solid #33B0E3;
            }

            &.active {
                background-color: orange;
            }
        }
    }
}