.calendar-info {
    .content-up {
        border-bottom: 1px solid rgb(231, 225, 225);
        padding-bottom: 15px;
        .address{
            font-weight: 700;
        }
        .nameClinic {
            font-weight: 700;
        }
    }

    .content-down {
        margin-top: 10px;

        .price {
            color: #666;
            font-weight: 650;

        }

        .base-info-detail {
            box-sizing: border-box;
            box-shadow: 2px 2px 2px gray,
                -2px -2px 2px gray;
            padding: 5px;
            background-color: #f8f8f8;
            .header{
                display: flex;
                justify-content: space-between;
                &:first-child{
                    font-style: italic;
                    text-decoration: underline;
                }
                &{
                    font-weight: bold;
                }
            }
            .footer {
                background-color: #eeeeee;
                border-top: 1px solid grey;
                border-bottom: 1px solid grey;
                padding: 5px;
                p{
                    font-weight: 550;
                }
            }
        }

        .viewInfo {
            color: #93deff;
            cursor: pointer;
            font-weight: bold;
            display: inline-block;
        }

    }

    .warning-empty-info {
        font-style: italic;
        font-weight: 666;
    }

    .sad-icon {
        margin-left: 10px;
        width: 15px;
        height: 15px;
    }

}