.data-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;


    .data-avatar{
        img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
    }
    .data-description{
        font-size: 12px;
        margin-left: 20px;
        .data-description-content{
            display: flex;
            justify-content: space-between;
            p{
                font-style: italic;
                font-weight: 660;
                &:last-child{
                    font-size: 13px;
                    color: #0087C5;
                    &:hover{
                        color: red;
                    }
                }

            }
        }
        
    }
    margin-bottom: 20px;
}