.container-header {
  display: flex;
  height: 80px;
  padding-bottom: 5px;
  position: sticky;
  top: 0;
  z-index: 1000000;
  background-color: #FFFFFF;
}
.container-header .header-content {
  display: flex;
  width: 100%;
}
.container-header .header-content .header-box {
  display: flex;
  align-items: center;
}
.container-header .header-content .w-25 {
  width: 25%;
  height: 100%;
}
.container-header .header-content .w-25:first-child {
  padding-left: 10%;
}
.container-header .header-content .w-25 .header-menu i {
  font-size: 24px;
  color: grey;
  cursor: pointer;
}
.container-header .header-content .w-25 .logo {
  background: url("../../../assets/logo.svg") center center no-repeat;
  width: 170px;
  height: 35px;
  margin-left: 10px;
  cursor: pointer;
}
.container-header .header-content .w-25:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
}
.container-header .header-content .w-25:nth-child(3) div:first-child {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 11%;
}
.container-header .header-content .w-25:nth-child(3) div:first-child span {
  margin: 0px 2px;
  cursor: pointer;
}
.container-header .header-content .w-25:nth-child(3) div:first-child span i {
  color: #45C3D2;
}
.container-header .header-content .w-25:nth-child(3) div:first-child span:nth-child(2) {
  color: grey;
  font-weight: 600;
}
.container-header .header-content .w-25:nth-child(3) div:last-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-header .header-content .w-25:nth-child(3) div:last-child .baner-vi {
  background: url("../../../assets/images/vi.png");
}
.container-header .header-content .w-25:nth-child(3) div:last-child .baner-en {
  background: url("../../../assets/images/en.png");
}
.container-header .header-content .w-25:nth-child(3) div:last-child .baner-language {
  padding: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  margin-right: 7px;
}
.container-header .header-content .w-25:nth-child(3) div:last-child select {
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}
.container-header .header-content .w-25:nth-child(3) div:last-child select option {
  font-size: 15px;
  color: #49BCE2;
  cursor: pointer;
}
.container-header .header-content .w-25 .header-phone {
  cursor: pointer;
  color: #45C3D2;
}
.container-header .header-content .w-50 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.container-header .header-content .w-50 .header-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.container-header .header-content .w-50 .header-item p {
  margin: 0;
  font-size: 12px;
}
.container-header .header-content .w-50 .header-item p:first-child {
  color: #333;
  font-weight: bold;
}
.container-header .header-content .w-50 .header-item p:last-child {
  font-size: 10px;
  color: rgb(154, 148, 148);
}

.container-baner .baner-content {
  background: url("../../../assets/images/HomePage/header-bg.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 52%;
  position: relative;
}
.container-baner .baner-content .baner-opacity {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(85, 85, 85);
  opacity: 0.2;
  z-index: 0;
}
.container-baner .baner-content .baner-main {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #ffffff;
}
.container-baner .baner-content .baner-main .baner-title {
  font-size: 30px;
  text-align: center;
  margin-top: 80px;
  font-weight: 400;
  text-shadow: 2px 1px gray;
}
.container-baner .baner-content .baner-main .baner-title span:last-child {
  font-size: 32px;
  font-weight: 700;
}
.container-baner .baner-content .baner-main .baner-search {
  width: 460px;
  height: 50px;
  margin: 20px auto;
  background-color: #F7D800;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}
.container-baner .baner-content .baner-main .baner-search i {
  color: #333;
}
.container-baner .baner-content .baner-main .baner-search input {
  margin-left: 18px;
  flex: 1;
  border: none;
  background-color: transparent;
  outline: none;
}
.container-baner .baner-content .baner-main .baner-search input:hover {
  outline: none;
}
.container-baner .baner-content .baner-main .baner-services {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(0deg, #ffffff 5%, #ddddd8 45%, transparent);
  padding: 0px 5%;
  flex-wrap: wrap;
}
.container-baner .baner-content .baner-main .baner-services .baner-item {
  width: 130px;
  min-height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #333;
  margin: 0px 20px;
}
.container-baner .baner-content .baner-main .baner-services .baner-item .tooth {
  background-image: url("../../../assets/images/HomePage/tooth.png");
}
.container-baner .baner-content .baner-main .baner-services .baner-item .exam {
  background-image: url("../../../assets/images/HomePage/exam.png");
}
.container-baner .baner-content .baner-main .baner-services .baner-item .medical {
  background-image: url("../../../assets/images/HomePage/medical.png");
}
.container-baner .baner-content .baner-main .baner-services .baner-item .dungcu {
  background-image: url("../../../assets/images/HomePage/dungcu.png");
}
.container-baner .baner-content .baner-main .baner-services .baner-item div {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.container-baner .baner-content .baner-main .baner-services .baner-item div i {
  color: #49BCE2;
  font-size: 30px;
}
.container-baner .baner-content .baner-main .baner-services .baner-item p {
  text-align: center;
  font-weight: 650;
  font-size: 18px;
}
.container-baner .baner-content .baner-main .baner-services .baner-item:hover {
  color: #45C3D2;
  cursor: pointer;
}/*# sourceMappingURL=HeaderHomePage.css.map */