.manage_specialty{
    h2{
        font-weight: 700;
        text-transform: uppercase;
    }
    label{
        font-weight: 700;
    }
    .input-image{
        border: none;
    }
    input{
        display: block;
        width: 100%;
    }
}