#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.usermanage-table {
    width: 94% !important;
    margin: 20px auto 40px auto;
}

.usermanage-table {
    td:last-child {
        width: 20%;
    }

    th {
        text-align: center !important;
        transition: 0.4s;


        &:hover {
            transition: 0.4s;
            color: black !important;
        }
    }

    td {
        text-align: center;
    }
}

.user-btn {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 10px 20px;
    font-size: 18px;
}

.user-edit {
    i {
        color: orange;

        &:hover {
            color: rgb(179, 118, 4)
        }
    }
}

.user-delete {
    i {
        color: rgb(179, 26, 26);

        &:hover {
            color: rgb(106, 5, 5);
        }
    }
}

.my-btn {
    padding: 2px 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}