.manage-doctor {
    margin: 30px auto;
    width: 86%;

    label {
        font-weight: bold;
    }

    .choose-doctor {
        margin: 10px 0px;
        display: flex;
        justify-content: center;
        width: 100%;



        .search-doctor {
            width: 30%;
        }

        .description {
            width: 70%;
            padding-left: 5%;

            // display: flex;
            textarea {
                width: 100%;
                resize: none;
            }
        }
    }

}


button:focus {
    box-shadow: none !important;

}