.usermanage-table {
    width: 100%;
    margin: 10px auto 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;

    tr,
    td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;

        &:hover {
            background-color: #ddd;
        }
        .td-image{
            width: 80px;
            height: 80px;
        }
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
        text-align: center;

        &:last-child {
            width: 10%;
        }
    }

    .user-btn {
        width: 40px;


    }

    .user-edit {
        &:hover {
            color: rgb(0, 42, 255)
        }
    }

    .user-delete {
        &:hover {
            color: orange
        }
    }
}