* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-backGround {
  background: linear-gradient(135deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-backGround .login-container {
  width: 350px;
  height: 70vh;
  background-color: #ffffff;
  border-radius: 30px;
}
.login-backGround .login-container .login-content {
  padding: 10px 30px;
}
.login-backGround .login-container .login-content .login {
  font-size: 25px;
  font-weight: 650;
  line-height: 2;
}
.login-backGround .login-container .login-content .span-err {
  display: block;
  margin: 5px;
  color: red;
  font-weight: 650;
}
.login-backGround .login-container .login-content div div + div {
  margin-top: 20px;
}
.login-backGround .login-container .login-content .login-forgot {
  margin-top: 10px;
}
.login-backGround .login-container .login-content .login-forgot p a {
  color: #333;
  text-decoration: none;
}
.login-backGround .login-container .login-content .login-label-input label {
  text-indent: 40px;
  color: #888;
}
.login-backGround .login-container .login-content .login-label-input input {
  margin-top: 2px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(184, 170, 170);
  height: 40px;
}
.login-backGround .login-container .login-content .login-label-input input:focus {
  outline: none !important;
  border: none;
  box-shadow: none !important;
}
.login-backGround .login-container .login-content .login-label-input input:focus {
  outline: none !important;
}
.login-backGround .login-container .login-content .login-password {
  position: relative;
}
.login-backGround .login-container .login-content .login-password .eye-password {
  position: absolute;
  top: 32px;
  right: 18px;
  cursor: pointer;
}
.login-backGround .login-container .login-content .longin-signin {
  display: block;
  height: 42px;
  margin: 5px auto;
  border-radius: 35px;
  width: 90%;
  color: #ffffff;
  background: linear-gradient(90deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 100%);
  margin-bottom: 10px;
}
.login-backGround .login-container .login-content .item-font {
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.login-backGround .login-container .login-content .item-font div {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: translateY linear 0.8s;
}
.login-backGround .login-container .login-content .item-font div:hover {
  transform: translateY(-10px);
  transition: translateY linear 0.8s;
}
.login-backGround .login-container .login-content .item-font i {
  font-size: 25px;
}
.login-backGround .login-container .login-content .item-one i {
  color: white;
}
.login-backGround .login-container .login-content .item-two i {
  font-size: 45px;
  color: blue;
}
.login-backGround .login-container .login-content .item-three i {
  font-size: 45px;
  color: rgb(39, 210, 210);
}
.login-backGround .login-container .login-content .circle {
  background-color: red;
  border-radius: 50%;
  box-sizing: border-box;
}/*# sourceMappingURL=Login.css.map */