.my-carousel {
    .medicalfacility {
        background-color: #F5F5F5;
        padding-bottom: 30px;
        // box-sizing: content-box;

        .slider-item {
            .video-icon {
                position: absolute;
                left: 6px;
                top: 6px;
                width: 30px;
                height: 30px;
                background-image: url('../../../assets/images/HomePage/video.png');
                background-size: 30px 30px;
            }

            .slider-item-image {
                background-color: #ffffff;

                padding: 20px;
                box-sizing: border-box;

                img {
                    display: block !important;
                    width: 100% !important;
                    object-fit: contain !important;
                }
            }


        }

    }
}