// reset css bootstrap
.my-carousel {
    .servicesCarousel {
        .slick-arrow {
            display: none !important;
        }

        .slider-item {
            padding: 0 20px !important;

            .slider-item-image {
                img {
                    border-radius: 15px;
                }
            }

            .slider-item-text {
                p {
                    color: #333;

                    &:last-child {
                        margin-top: 8px;
                        color: #45C3D2;
                        font-weight: 650;
                    }
                }

                .item-text-list {
                    display: block;
                    height: fit-content;
                }

                .slider-item-text_title {
                    font-weight: 700;
                }
            }
        }


    }


}