.my-carousel {
    .telemedicine {
        background-color: #ffffff;

        .slider-item {

            .video-icon {
                position: absolute;
                left: 6px;
                top: 6px;
                width: 30px;
                height: 30px;
                background-image: url('../../../assets/images/HomePage/video.png');
                background-size: 30px 30px;
            }

        }

    }
}